# Build outputs
/out/
/src/**/*.o
/src/**/*.d
/src/selfmade_inet
/src/selfmade_inet_dbg
*.so
*.a

# Simulation outputs
*.sca
*.vec
*.elog
*.vci

# IDE files
/.cproject
/.project
/.settings/
/.vscode/
/.idea/

# OS
.DS_Store
Thumbs.db
