setuptools >=63.0.0; sys_platform == 'win32'
packaging >=23.0.0; sys_platform != 'win32'
matplotlib >=3.5.2, <4.0.0
numpy >=1.18.0, <3.0.0
pandas >=1.0.0, <3.0.0
scipy >=1.0.0, <2.0.0
ipython >=7.0.0
